---
import LandingHeader from '../components/LandingHeader.astro';
import Layout from '../layouts/Layout.astro';
import HeaderSection from '../components/HeaderSection.astro'
import About from '../components/About.astro'
import LandingServices from '../components/LandingServices.astro';
---

<Layout title="Astronix">
    <main class="overflow-x-hidden">
        <LandingHeader />
        <HeaderSection />
        <About />
        <LandingServices />
    </main>
</Layout>
