<section class="text-black" id="about">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center animate-fade-in-left">
            <h2 class="sm:text-5xl font-semibold text-3xl mb-9">¿Quiénes somos?</h2>
            <p class="leading-relaxed">Somos una empresa altamente especializada en proporcionar soluciones tecnológicas 
                innovadoras, incluyendo el desarrollo de páginas web a medida y sistemas de software 
                personalizados para satisfacer las necesidades individuales de cada cliente. Nos enorgullecemos 
                de nuestro compromiso con la excelencia y la satisfacción del cliente en cada proyecto.</p>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 animate-fade-in-right">
            <img class="object-cover object-center rounded" alt="hero" src="./quienes.png">
        </div>
    </div>
</section>