<section class="h-screen w-screen text-center relative overflow-hidden" id="home">
    <div class="z-30 relative">
        <header>
            <h2 class="pt-80 lg:text-8xl md:text-7xl text-6xl font-semibold">Bienvenido a Astronix</h2>
            <p class="pt-6 lg:text-[25px] md:text-[23px] text-base">Creamos soluciones digitales innovadoras para tu negocio</p>
        </header>
        
        <footer class="pt-7">
            <a href="#" class="text-lg border-2 border-black bg-black px-6 py-2 hover:bg-white hover:text-black hover:border-white transition-colors duration-300">Conoce más</a>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <video autoplay muted loop src="/universe.mp4" class="object-center object-cover h-full w-full"></video>
    </div>
</section>