---
import Team from "./Team.astro";
---

<section class="text-black" id="team">
    <div class="container px-5 py-24 mx-auto">
      <div class="text-center mb-20 animate-fade-in-top">
        <h2 class="sm:text-5xl text-3xl font-semibold mb-4">Nuestro Equipo</h2>
        <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Somos un equipo de desarrollo altamente capacitado y experimentado</p>
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">

        <Team link="./ching.webp" title="Jonatan Ayacila" text="Python y Front End Developer" linkText="https://www.linkedin.com/in/jonatan-ayacila/" gitText="https://github.com/zJona13"/>
        <Team link="./vidaurre.webp" title="Joseph Vidaurre" text="Full Stack Developer" linkText="https://www.linkedin.com/in/vidaurre-joseph-a992292a4/" gitText="https://github.com/Artemisdevisa"/>
        <Team link="./pupuche.webp" title="Rodrigo Pupuche" text="Front End Developer" linkText="" gitText="https://github.com/Pupuche28" />

      </div>
    </div>
</section>