---
import Services from "./Services.astro"
---

<section class="text-black" id="services">
    <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-20">
            <h1 class="sm:text-5xl text-3xl font-semibold mb-4 animate-fade-in-top">Nuestro Servicios</h1>
        </div>
        <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
             
            <Services title='Desarrollo Web' text='Creamos sitios web y aplicaciones web personalizadas utilizando las últimas tecnologías y prácticas de diseño.' link='./web.png'/>
            <Services title='Sistema de Software' text='Desarrollamos sistemas de software personalizados para abordar necesidades específicas de tu negocio con el fin de mejorar la productividad.' link='./software.png' />
            <Services title='Diseño UX/UI' text='Diseñamos interfaces de usuario intuitivas y atractivas que mejoran la experiencia del usuario entre creación de propotipos y wireframes' link='./design.png' />

        </div>
    </div>
</section>